<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- <welcome-file-list> <welcome-file>index.html</welcome-file> </welcome-file-list> -->
	<servlet>
		<servlet-name>default</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<init-param>
			<param-name>dirAllowed</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/dqds</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tourney-join-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.tourney;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>


	<servlet>
		<servlet-name>session-steam-overlay-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.session.steam.overlay;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>auth-login-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.auth.login;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>auth-logout-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.auth.logout;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>battle-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.battle;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>game-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.game;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>iap-init-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.iap.init;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>iap-info-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.iap.info;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>iap-finalize-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.iap.finalize;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>lobby-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.lobby;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>chat-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.chat;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>


	<servlet>
		<servlet-name>roster-unlock-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.unlock;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>account-info-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.account.info;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>account-tutorial-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.account.tutorial;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>roster-unit-hire-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.unit.hire;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>roster-unit-promote-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.unit.promote;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>roster-unit-rename-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.unit.rename;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>roster-unit-retire-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.unit.retire;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>roster-unit-stats-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.unit.stats;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>roster-unit-variation-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.unit.variation;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>roster-party-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.roster.party;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>monitor-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.monitor;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>vs-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.vs;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>admin-svc</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>tbs.srv.web.svc.admin;tbs.srv.web.providers</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>auth-login-svc</servlet-name>
		<url-pattern>/services/auth/login/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>auth-logout-svc</servlet-name>
		<url-pattern>/services/auth/logout/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>battle-svc</servlet-name>
		<url-pattern>/services/battle/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>game-svc</servlet-name>
		<url-pattern>/services/game/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>iap-init-svc</servlet-name>
		<url-pattern>/services/iap/init/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>iap-info-svc</servlet-name>
		<url-pattern>/services/iap/info/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>iap-finalize-svc</servlet-name>
		<url-pattern>/services/iap/finalize/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>lobby-svc</servlet-name>
		<url-pattern>/services/lobby/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>chat-svc</servlet-name>
		<url-pattern>/services/chat/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>account-info-svc</servlet-name>
		<url-pattern>/services/account/info/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>account-tutorial-svc</servlet-name>
		<url-pattern>/services/account/tutorial/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-unit-hire-svc</servlet-name>
		<url-pattern>/services/roster/unit/hire/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-unit-promote-svc</servlet-name>
		<url-pattern>/services/roster/unit/promote/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-unit-rename-svc</servlet-name>
		<url-pattern>/services/roster/unit/rename/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-unit-retire-svc</servlet-name>
		<url-pattern>/services/roster/unit/retire/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-unit-stats-svc</servlet-name>
		<url-pattern>/services/roster/unit/stats/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-unit-variation-svc</servlet-name>
		<url-pattern>/services/roster/unit/variation/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-party-svc</servlet-name>
		<url-pattern>/services/roster/party/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>roster-unlock-svc</servlet-name>
		<url-pattern>/services/roster/unlock/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>monitor-svc</servlet-name>
		<url-pattern>/services/monitor/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>vs-svc</servlet-name>
		<url-pattern>/services/vs/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>admin-svc</servlet-name>
		<url-pattern>/services/admin/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>session-steam-overlay-svc</servlet-name>
		<url-pattern>/services/session/steam/overlay/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>tourney-join-svc</servlet-name>
		<url-pattern>/services/tourney/join/*</url-pattern>
	</servlet-mapping>



</web-app>
